<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>uni1200</key>
  <dict>
    <key>uni1218</key>
    <integer>-150</integer>
    <key>uni1219</key>
    <integer>-100</integer>
    <key>uni1245</key>
    <integer>-150</integer>
    <key>uni1263</key>
    <integer>-131</integer>
    <key>uni1273</key>
    <integer>-195</integer>
    <key>uni1283</key>
    <integer>-150</integer>
    <key>uni12D0</key>
    <integer>-150</integer>
    <key>uni12D2</key>
    <integer>-150</integer>
    <key>uni1308</key>
    <integer>-125</integer>
    <key>uni130B</key>
    <integer>-85</integer>
  </dict>
  <key>uni1204</key>
  <dict>
    <key>uni1210</key>
    <integer>-125</integer>
    <key>uni121D</key>
    <integer>-125</integer>
    <key>uni1223</key>
    <integer>-250</integer>
    <key>uni122D</key>
    <integer>-125</integer>
    <key>uni123B</key>
    <integer>85</integer>
    <key>uni1241</key>
    <integer>-120</integer>
    <key>uni1247</key>
    <integer>-85</integer>
    <key>uni1285</key>
    <integer>85</integer>
    <key>uni1286</key>
    <integer>85</integer>
    <key>uni12B9</key>
    <integer>85</integer>
    <key>uni12BB</key>
    <integer>85</integer>
    <key>uni12BC</key>
    <integer>85</integer>
    <key>uni12CF</key>
    <integer>-85</integer>
    <key>uni12EB</key>
    <integer>-174</integer>
    <key>uni1309</key>
    <integer>-125</integer>
    <key>uni130F</key>
    <integer>-200</integer>
  </dict>
  <key>uni1208</key>
  <dict>
    <key>uni1218</key>
    <integer>-85</integer>
    <key>uni1219</key>
    <integer>-85</integer>
    <key>uni121C</key>
    <integer>-65</integer>
    <key>uni1231</key>
    <integer>-163</integer>
    <key>uni123B</key>
    <integer>-85</integer>
    <key>uni1243</key>
    <integer>-276</integer>
    <key>uni1245</key>
    <integer>-150</integer>
    <key>uni1258</key>
    <integer>-65</integer>
    <key>uni1263</key>
    <integer>-184</integer>
    <key>uni1273</key>
    <integer>-276</integer>
    <key>uni127B</key>
    <integer>-256</integer>
    <key>uni127D</key>
    <integer>-184</integer>
    <key>uni1283</key>
    <integer>-185</integer>
    <key>uni1285</key>
    <integer>-213</integer>
    <key>uni1286</key>
    <integer>-250</integer>
    <key>uni1291</key>
    <integer>-185</integer>
    <key>uni1293</key>
    <integer>-185</integer>
    <key>uni1294</key>
    <integer>-245</integer>
    <key>uni12B8</key>
    <integer>-250</integer>
    <key>uni12B9</key>
    <integer>-250</integer>
    <key>uni12BB</key>
    <integer>-213</integer>
    <key>uni12BC</key>
    <integer>-219</integer>
    <key>uni12D0</key>
    <integer>-250</integer>
    <key>uni12D2</key>
    <integer>-250</integer>
    <key>uni1307</key>
    <integer>-184</integer>
    <key>uni1308</key>
    <integer>-113</integer>
    <key>uni130B</key>
    <integer>-170</integer>
    <key>uni132B</key>
    <integer>-256</integer>
    <key>uni1349</key>
    <integer>-85</integer>
  </dict>
  <key>uni120A</key>
  <dict>
    <key>uni123B</key>
    <integer>-150</integer>
    <key>uni1285</key>
    <integer>-150</integer>
    <key>uni1286</key>
    <integer>-85</integer>
    <key>uni1293</key>
    <integer>-85</integer>
    <key>uni12B8</key>
    <integer>-200</integer>
    <key>uni12B9</key>
    <integer>-219</integer>
    <key>uni12BB</key>
    <integer>-150</integer>
    <key>uni12BC</key>
    <integer>-85</integer>
    <key>uni12D0</key>
    <integer>-125</integer>
    <key>uni12D2</key>
    <integer>-125</integer>
    <key>uni130B</key>
    <integer>-65</integer>
  </dict>
  <key>uni120B</key>
  <dict>
    <key>uni1218</key>
    <integer>-113</integer>
    <key>uni1219</key>
    <integer>-125</integer>
    <key>uni123B</key>
    <integer>-85</integer>
    <key>uni1245</key>
    <integer>-174</integer>
    <key>uni1283</key>
    <integer>-119</integer>
    <key>uni1285</key>
    <integer>-185</integer>
    <key>uni1286</key>
    <integer>-185</integer>
    <key>uni1293</key>
    <integer>-156</integer>
    <key>uni129E</key>
    <integer>-174</integer>
    <key>uni12B8</key>
    <integer>-185</integer>
    <key>uni12B9</key>
    <integer>-185</integer>
    <key>uni12BB</key>
    <integer>-185</integer>
    <key>uni12BC</key>
    <integer>-185</integer>
    <key>uni12D0</key>
    <integer>-185</integer>
    <key>uni12D2</key>
    <integer>-85</integer>
    <key>uni1308</key>
    <integer>-231</integer>
    <key>uni130B</key>
    <integer>-85</integer>
  </dict>
  <key>uni120E</key>
  <dict>
    <key>uni1285</key>
    <integer>-200</integer>
    <key>uni1293</key>
    <integer>-160</integer>
    <key>uni12B9</key>
    <integer>-200</integer>
    <key>uni12BB</key>
    <integer>-213</integer>
  </dict>
  <key>uni1210</key>
  <dict>
    <key>uni1200</key>
    <integer>-256</integer>
    <key>uni121C</key>
    <integer>-150</integer>
    <key>uni1231</key>
    <integer>-174</integer>
    <key>uni123B</key>
    <integer>-155</integer>
    <key>uni1245</key>
    <integer>-307</integer>
    <key>uni1283</key>
    <integer>-125</integer>
    <key>uni1285</key>
    <integer>-185</integer>
    <key>uni1286</key>
    <integer>-185</integer>
    <key>uni1291</key>
    <integer>-155</integer>
    <key>uni1293</key>
    <integer>-150</integer>
    <key>uni1294</key>
    <integer>-165</integer>
    <key>uni12B8</key>
    <integer>-185</integer>
    <key>uni12B9</key>
    <integer>-250</integer>
    <key>uni12BB</key>
    <integer>-185</integer>
    <key>uni12BC</key>
    <integer>-185</integer>
    <key>uni12D0</key>
    <integer>-285</integer>
    <key>uni12D2</key>
    <integer>-150</integer>
    <key>uni1308</key>
    <integer>-160</integer>
    <key>uni130B</key>
    <integer>-155</integer>
    <key>uni1349</key>
    <integer>-150</integer>
  </dict>
  <key>uni1213</key>
  <dict>
    <key>uni1293</key>
    <integer>-174</integer>
  </dict>
  <key>uni1218</key>
  <dict>
    <key>uni1273</key>
    <integer>-231</integer>
    <key>uni12D9</key>
    <integer>-174</integer>
  </dict>
  <key>uni1219</key>
  <dict>
    <key>uni120B</key>
    <integer>-25</integer>
    <key>uni1223</key>
    <integer>-155</integer>
  </dict>
  <key>uni121A</key>
  <dict>
    <key>uni1293</key>
    <integer>-174</integer>
  </dict>
  <key>uni121B</key>
  <dict>
    <key>uni120B</key>
    <integer>-174</integer>
    <key>uni1210</key>
    <integer>-285</integer>
    <key>uni1211</key>
    <integer>-156</integer>
    <key>uni121D</key>
    <integer>-184</integer>
    <key>uni1223</key>
    <integer>-213</integer>
    <key>uni1228</key>
    <integer>-276</integer>
    <key>uni1229</key>
    <integer>-185</integer>
    <key>uni122D</key>
    <integer>-180</integer>
    <key>uni1241</key>
    <integer>-85</integer>
    <key>uni1247</key>
    <integer>-85</integer>
    <key>uni1271</key>
    <integer>-143</integer>
    <key>uni12AD</key>
    <integer>-57</integer>
    <key>uni12CF</key>
    <integer>-65</integer>
    <key>uni12E5</key>
    <integer>-85</integer>
    <key>uni12E9</key>
    <integer>-127</integer>
    <key>uni12F3</key>
    <integer>-174</integer>
    <key>uni12F4</key>
    <integer>-100</integer>
    <key>uni1305</key>
    <integer>-113</integer>
    <key>uni1309</key>
    <integer>-185</integer>
    <key>uni130F</key>
    <integer>-185</integer>
  </dict>
  <key>uni121C</key>
  <dict>
    <key>uni1271</key>
    <integer>-100</integer>
  </dict>
  <key>uni121D</key>
  <dict>
    <key>uni1201</key>
    <integer>-51</integer>
    <key>uni12CD</key>
    <integer>-44</integer>
  </dict>
  <key>uni121E</key>
  <dict>
    <key>uni1308</key>
    <integer>-67</integer>
  </dict>
  <key>uni1222</key>
  <dict>
    <key>uni12D2</key>
    <integer>-328</integer>
  </dict>
  <key>uni1223</key>
  <dict>
    <key>uni121D</key>
    <integer>-168</integer>
    <key>uni1229</key>
    <integer>-133</integer>
    <key>uni122D</key>
    <integer>-146</integer>
    <key>uni12CD</key>
    <integer>-50</integer>
    <key>uni1309</key>
    <integer>-140</integer>
    <key>uni1320</key>
    <integer>-67</integer>
  </dict>
  <key>uni1226</key>
  <dict>
    <key>uni123B</key>
    <integer>-106</integer>
  </dict>
  <key>uni1229</key>
  <dict>
    <key>uni1293</key>
    <integer>-113</integer>
    <key>uni12BB</key>
    <integer>-167</integer>
    <key>uni12EB</key>
    <integer>-174</integer>
  </dict>
  <key>uni122D</key>
  <dict>
    <key>uni121C</key>
    <integer>-93</integer>
  </dict>
  <key>uni1230</key>
  <dict>
    <key>uni1243</key>
    <integer>-231</integer>
    <key>uni1273</key>
    <integer>-231</integer>
    <key>uni1286</key>
    <integer>-200</integer>
    <key>uni1291</key>
    <integer>-276</integer>
    <key>uni12D0</key>
    <integer>-213</integer>
    <key>uni12D2</key>
    <integer>-233</integer>
    <key>uni1323</key>
    <integer>-231</integer>
    <key>uni134B</key>
    <integer>-231</integer>
  </dict>
  <key>uni1232</key>
  <dict>
    <key>uni12D2</key>
    <integer>-160</integer>
  </dict>
  <key>uni1235</key>
  <dict>
    <key>uni12CD</key>
    <integer>-113</integer>
  </dict>
  <key>uni1238</key>
  <dict>
    <key>uni1243</key>
    <integer>-174</integer>
    <key>uni1273</key>
    <integer>-231</integer>
    <key>uni1291</key>
    <integer>-231</integer>
    <key>uni12D0</key>
    <integer>-167</integer>
    <key>uni1323</key>
    <integer>-231</integer>
    <key>uni134B</key>
    <integer>-231</integer>
  </dict>
  <key>uni123E</key>
  <dict>
    <key>uni1286</key>
    <integer>-193</integer>
  </dict>
  <key>uni1241</key>
  <dict>
    <key>uni12E9</key>
    <integer>-256</integer>
  </dict>
  <key>uni1246</key>
  <dict>
    <key>uni1223</key>
    <integer>-174</integer>
  </dict>
  <key>uni1258</key>
  <dict>
    <key>uni1286</key>
    <integer>-107</integer>
  </dict>
  <key>uni1260</key>
  <dict>
    <key>uni1270</key>
    <integer>-231</integer>
    <key>uni1272</key>
    <integer>-231</integer>
    <key>uni1273</key>
    <integer>-184</integer>
    <key>uni1274</key>
    <integer>-231</integer>
    <key>uni12D0</key>
    <integer>-227</integer>
    <key>uni12ED</key>
    <integer>-231</integer>
    <key>uni12EE</key>
    <integer>-231</integer>
    <key>uni1323</key>
    <integer>-231</integer>
    <key>uni134B</key>
    <integer>-231</integer>
  </dict>
  <key>uni1262</key>
  <dict>
    <key>uni1273</key>
    <integer>-174</integer>
    <key>uni12D2</key>
    <integer>-140</integer>
  </dict>
  <key>uni1268</key>
  <dict>
    <key>uni1243</key>
    <integer>-231</integer>
    <key>uni1273</key>
    <integer>-231</integer>
    <key>uni1291</key>
    <integer>-231</integer>
    <key>uni1323</key>
    <integer>-231</integer>
  </dict>
  <key>uni1271</key>
  <dict>
    <key>uni120E</key>
    <integer>-40</integer>
    <key>uni1223</key>
    <integer>-114</integer>
    <key>uni12E5</key>
    <integer>-73</integer>
  </dict>
  <key>uni1273</key>
  <dict>
    <key>uni1286</key>
    <integer>-127</integer>
  </dict>
  <key>uni127D</key>
  <dict>
    <key>uni121D</key>
    <integer>-174</integer>
  </dict>
  <key>uni1286</key>
  <dict>
    <key>uni12A0</key>
    <integer>-33</integer>
    <key>uni12A1</key>
    <integer>-26</integer>
    <key>uni12E5</key>
    <integer>-113</integer>
  </dict>
  <key>uni128D</key>
  <dict>
    <key>uni1209</key>
    <integer>-51</integer>
  </dict>
  <key>uni1290</key>
  <dict>
    <key>uni1239</key>
    <integer>-174</integer>
    <key>uni1273</key>
    <integer>-174</integer>
  </dict>
  <key>uni1291</key>
  <dict>
    <key>uni12A0</key>
    <integer>-27</integer>
  </dict>
  <key>uni1293</key>
  <dict>
    <key>uni120E</key>
    <integer>-47</integer>
    <key>uni1229</key>
    <integer>-33</integer>
  </dict>
  <key>uni1294</key>
  <dict>
    <key>uni1208</key>
    <integer>-106</integer>
    <key>uni12A0</key>
    <integer>-36</integer>
  </dict>
  <key>uni1299</key>
  <dict>
    <key>uni1271</key>
    <integer>-113</integer>
  </dict>
  <key>uni129D</key>
  <dict>
    <key>uni122D</key>
    <integer>-120</integer>
  </dict>
  <key>uni12A0</key>
  <dict>
    <key>uni1285</key>
    <integer>-193</integer>
    <key>uni1286</key>
    <integer>-180</integer>
    <key>uni1291</key>
    <integer>-187</integer>
    <key>uni1294</key>
    <integer>-187</integer>
    <key>uni12BB</key>
    <integer>-213</integer>
    <key>uni12BC</key>
    <integer>-220</integer>
    <key>uni12D0</key>
    <integer>-247</integer>
    <key>uni12D2</key>
    <integer>-247</integer>
  </dict>
  <key>uni12A1</key>
  <dict>
    <key>uni1285</key>
    <integer>-173</integer>
    <key>uni1286</key>
    <integer>-153</integer>
    <key>uni12B8</key>
    <integer>-147</integer>
    <key>uni12B9</key>
    <integer>-200</integer>
    <key>uni12BB</key>
    <integer>-187</integer>
    <key>uni12BC</key>
    <integer>-147</integer>
  </dict>
  <key>uni12A3</key>
  <dict>
    <key>uni123B</key>
    <integer>-153</integer>
    <key>uni1293</key>
    <integer>-147</integer>
    <key>uni12BB</key>
    <integer>-173</integer>
    <key>uni130B</key>
    <integer>-124</integer>
  </dict>
  <key>uni12A8</key>
  <dict>
    <key>uni1270</key>
    <integer>-231</integer>
    <key>uni1272</key>
    <integer>-231</integer>
    <key>uni1273</key>
    <integer>-231</integer>
    <key>uni1274</key>
    <integer>-231</integer>
    <key>uni127B</key>
    <integer>-231</integer>
    <key>uni1291</key>
    <integer>-276</integer>
    <key>uni1293</key>
    <integer>-160</integer>
    <key>uni12C8</key>
    <integer>-231</integer>
    <key>uni12ED</key>
    <integer>-231</integer>
    <key>uni12EE</key>
    <integer>-231</integer>
    <key>uni1323</key>
    <integer>-231</integer>
    <key>uni132B</key>
    <integer>-276</integer>
  </dict>
  <key>uni12AD</key>
  <dict>
    <key>uni1285</key>
    <integer>-113</integer>
    <key>uni12BB</key>
    <integer>-131</integer>
  </dict>
  <key>uni12AE</key>
  <dict>
    <key>uni1223</key>
    <integer>-165</integer>
    <key>uni1241</key>
    <integer>-163</integer>
    <key>uni12E5</key>
    <integer>-85</integer>
    <key>uni1309</key>
    <integer>-113</integer>
  </dict>
  <key>uni12B8</key>
  <dict>
    <key>uni1273</key>
    <integer>-231</integer>
  </dict>
  <key>uni12BC</key>
  <dict>
    <key>uni12A0</key>
    <integer>-20</integer>
  </dict>
  <key>uni12C9</key>
  <dict>
    <key>uni12E9</key>
    <integer>-174</integer>
  </dict>
  <key>uni12CB</key>
  <dict>
    <key>uni1241</key>
    <integer>-94</integer>
    <key>uni12E9</key>
    <integer>-107</integer>
  </dict>
  <key>uni12CD</key>
  <dict>
    <key>uni1210</key>
    <integer>-125</integer>
    <key>uni121D</key>
    <integer>-82</integer>
    <key>uni1223</key>
    <integer>-144</integer>
    <key>uni1241</key>
    <integer>-125</integer>
    <key>uni12F3</key>
    <integer>-174</integer>
    <key>uni1309</key>
    <integer>-163</integer>
  </dict>
  <key>uni12D0</key>
  <dict>
    <key>uni123B</key>
    <integer>-217</integer>
  </dict>
  <key>uni12D8</key>
  <dict>
    <key>uni1285</key>
    <integer>-187</integer>
  </dict>
  <key>uni12E5</key>
  <dict>
    <key>uni1273</key>
    <integer>-187</integer>
  </dict>
  <key>uni12E9</key>
  <dict>
    <key>uni12F4</key>
    <integer>-93</integer>
  </dict>
  <key>uni12F3</key>
  <dict>
    <key>uni1210</key>
    <integer>-163</integer>
  </dict>
  <key>uni1308</key>
  <dict>
    <key>uni121E</key>
    <integer>-113</integer>
    <key>uni1273</key>
    <integer>-231</integer>
    <key>uni12D0</key>
    <integer>-207</integer>
  </dict>
  <key>uni1309</key>
  <dict>
    <key>uni121B</key>
    <integer>31</integer>
    <key>uni1223</key>
    <integer>-73</integer>
  </dict>
  <key>uni130E</key>
  <dict>
    <key>uni1293</key>
    <integer>-143</integer>
    <key>uni12B9</key>
    <integer>-146</integer>
  </dict>
  <key>uni1320</key>
  <dict>
    <key>uni1273</key>
    <integer>-231</integer>
    <key>uni1293</key>
    <integer>-180</integer>
    <key>uni12D0</key>
    <integer>-245</integer>
    <key>uni1349</key>
    <integer>-205</integer>
  </dict>
  <key>uni1325</key>
  <dict>
    <key>uni1250</key>
    <integer>-96</integer>
    <key>uni1258</key>
    <integer>-47</integer>
  </dict>
  <key>uni1328</key>
  <dict>
    <key>uni1273</key>
    <integer>-231</integer>
  </dict>
  <key>uni133B</key>
  <dict>
    <key>uni1211</key>
    <integer>-143</integer>
  </dict>
  <key>uni1354</key>
  <dict>
    <key>uni121D</key>
    <integer>-193</integer>
    <key>uni1325</key>
    <integer>-143</integer>
  </dict>
</dict>
</plist>
