<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>.null</key>
  <string>_null.glif</string>
  <key>A</key>
  <string>A_.glif</string>
  <key>AE</key>
  <string>A_E_.glif</string>
  <key>Aacute</key>
  <string>A_acute.glif</string>
  <key>Acircumflex</key>
  <string>A_circumflex.glif</string>
  <key>Adieresis</key>
  <string>A_dieresis.glif</string>
  <key>Agrave</key>
  <string>A_grave.glif</string>
  <key>Aring</key>
  <string>A_ring.glif</string>
  <key>Atilde</key>
  <string>A_tilde.glif</string>
  <key>B</key>
  <string>B_.glif</string>
  <key>C</key>
  <string>C_.glif</string>
  <key>CR</key>
  <string>C_R_.glif</string>
  <key>Ccedilla</key>
  <string>C_cedilla.glif</string>
  <key>D</key>
  <string>D_.glif</string>
  <key>DEL</key>
  <string>D_E_L_.glif</string>
  <key>Delta</key>
  <string>D_elta.glif</string>
  <key>E</key>
  <string>E_.glif</string>
  <key>Eacute</key>
  <string>E_acute.glif</string>
  <key>Ecircumflex</key>
  <string>E_circumflex.glif</string>
  <key>Edieresis</key>
  <string>E_dieresis.glif</string>
  <key>Egrave</key>
  <string>E_grave.glif</string>
  <key>Euro</key>
  <string>E_uro.glif</string>
  <key>F</key>
  <string>F_.glif</string>
  <key>G</key>
  <string>G_.glif</string>
  <key>H</key>
  <string>H_.glif</string>
  <key>I</key>
  <string>I_.glif</string>
  <key>Iacute</key>
  <string>I_acute.glif</string>
  <key>Icircumflex</key>
  <string>I_circumflex.glif</string>
  <key>Idieresis</key>
  <string>I_dieresis.glif</string>
  <key>Igrave</key>
  <string>I_grave.glif</string>
  <key>J</key>
  <string>J_.glif</string>
  <key>K</key>
  <string>K_.glif</string>
  <key>L</key>
  <string>L_.glif</string>
  <key>M</key>
  <string>M_.glif</string>
  <key>N</key>
  <string>N_.glif</string>
  <key>Ntilde</key>
  <string>N_tilde.glif</string>
  <key>O</key>
  <string>O_.glif</string>
  <key>OE</key>
  <string>O_E_.glif</string>
  <key>Oacute</key>
  <string>O_acute.glif</string>
  <key>Ocircumflex</key>
  <string>O_circumflex.glif</string>
  <key>Odieresis</key>
  <string>O_dieresis.glif</string>
  <key>Ograve</key>
  <string>O_grave.glif</string>
  <key>Omega</key>
  <string>O_mega.glif</string>
  <key>Oslash</key>
  <string>O_slash.glif</string>
  <key>Otilde</key>
  <string>O_tilde.glif</string>
  <key>P</key>
  <string>P_.glif</string>
  <key>Q</key>
  <string>Q_.glif</string>
  <key>R</key>
  <string>R_.glif</string>
  <key>S</key>
  <string>S_.glif</string>
  <key>T</key>
  <string>T_.glif</string>
  <key>U</key>
  <string>U_.glif</string>
  <key>Uacute</key>
  <string>U_acute.glif</string>
  <key>Ucircumflex</key>
  <string>U_circumflex.glif</string>
  <key>Udieresis</key>
  <string>U_dieresis.glif</string>
  <key>Ugrave</key>
  <string>U_grave.glif</string>
  <key>V</key>
  <string>V_.glif</string>
  <key>W</key>
  <string>W_.glif</string>
  <key>X</key>
  <string>X_.glif</string>
  <key>Y</key>
  <string>Y_.glif</string>
  <key>Ydieresis</key>
  <string>Y_dieresis.glif</string>
  <key>Z</key>
  <string>Z_.glif</string>
  <key>a</key>
  <string>a.glif</string>
  <key>aacute</key>
  <string>aacute.glif</string>
  <key>acircumflex</key>
  <string>acircumflex.glif</string>
  <key>acute</key>
  <string>acute.glif</string>
  <key>adieresis</key>
  <string>adieresis.glif</string>
  <key>ae</key>
  <string>ae.glif</string>
  <key>agrave</key>
  <string>agrave.glif</string>
  <key>ampersand</key>
  <string>ampersand.glif</string>
  <key>apple</key>
  <string>apple.glif</string>
  <key>approxequal</key>
  <string>approxequal.glif</string>
  <key>aring</key>
  <string>aring.glif</string>
  <key>asciicircum</key>
  <string>asciicircum.glif</string>
  <key>asciitilde</key>
  <string>asciitilde.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>at</key>
  <string>at.glif</string>
  <key>atilde</key>
  <string>atilde.glif</string>
  <key>b</key>
  <string>b.glif</string>
  <key>backslash</key>
  <string>backslash.glif</string>
  <key>bar</key>
  <string>bar.glif</string>
  <key>braceleft</key>
  <string>braceleft.glif</string>
  <key>braceright</key>
  <string>braceright.glif</string>
  <key>bracketleft</key>
  <string>bracketleft.glif</string>
  <key>bracketright</key>
  <string>bracketright.glif</string>
  <key>bullet</key>
  <string>bullet.glif</string>
  <key>c</key>
  <string>c.glif</string>
  <key>ccedilla</key>
  <string>ccedilla.glif</string>
  <key>cedilla</key>
  <string>cedilla.glif</string>
  <key>cent</key>
  <string>cent.glif</string>
  <key>circumflex</key>
  <string>circumflex.glif</string>
  <key>colon</key>
  <string>colon.glif</string>
  <key>comma</key>
  <string>comma.glif</string>
  <key>copyright</key>
  <string>copyright.glif</string>
  <key>d</key>
  <string>d.glif</string>
  <key>dagger</key>
  <string>dagger.glif</string>
  <key>daggerdbl</key>
  <string>daggerdbl.glif</string>
  <key>degree</key>
  <string>degree.glif</string>
  <key>dieresis</key>
  <string>dieresis.glif</string>
  <key>divide</key>
  <string>divide.glif</string>
  <key>dollar</key>
  <string>dollar.glif</string>
  <key>e</key>
  <string>e.glif</string>
  <key>eacute</key>
  <string>eacute.glif</string>
  <key>ecircumflex</key>
  <string>ecircumflex.glif</string>
  <key>edieresis</key>
  <string>edieresis.glif</string>
  <key>egrave</key>
  <string>egrave.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>ellipsis</key>
  <string>ellipsis.glif</string>
  <key>emdash</key>
  <string>emdash.glif</string>
  <key>endash</key>
  <string>endash.glif</string>
  <key>equal</key>
  <string>equal.glif</string>
  <key>exclam</key>
  <string>exclam.glif</string>
  <key>exclamdown</key>
  <string>exclamdown.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>fi</key>
  <string>fi.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>fl</key>
  <string>fl.glif</string>
  <key>florin</key>
  <string>florin.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>fraction</key>
  <string>fraction.glif</string>
  <key>g</key>
  <string>g.glif</string>
  <key>germandbls</key>
  <string>germandbls.glif</string>
  <key>grave</key>
  <string>grave.glif</string>
  <key>greater</key>
  <string>greater.glif</string>
  <key>greaterequal</key>
  <string>greaterequal.glif</string>
  <key>guillemotleft</key>
  <string>guillemotleft.glif</string>
  <key>guillemotright</key>
  <string>guillemotright.glif</string>
  <key>guilsinglleft</key>
  <string>guilsinglleft.glif</string>
  <key>guilsinglright</key>
  <string>guilsinglright.glif</string>
  <key>h</key>
  <string>h.glif</string>
  <key>hyphen</key>
  <string>hyphen.glif</string>
  <key>i</key>
  <string>i.glif</string>
  <key>iacute</key>
  <string>iacute.glif</string>
  <key>icircumflex</key>
  <string>icircumflex.glif</string>
  <key>idieresis</key>
  <string>idieresis.glif</string>
  <key>igrave</key>
  <string>igrave.glif</string>
  <key>infinity</key>
  <string>infinity.glif</string>
  <key>integral</key>
  <string>integral.glif</string>
  <key>j</key>
  <string>j.glif</string>
  <key>k</key>
  <string>k.glif</string>
  <key>l</key>
  <string>l.glif</string>
  <key>less</key>
  <string>less.glif</string>
  <key>lessequal</key>
  <string>lessequal.glif</string>
  <key>logicalnot</key>
  <string>logicalnot.glif</string>
  <key>lozenge</key>
  <string>lozenge.glif</string>
  <key>m</key>
  <string>m.glif</string>
  <key>macron</key>
  <string>macron.glif</string>
  <key>mu</key>
  <string>mu.glif</string>
  <key>n</key>
  <string>n.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>notequal</key>
  <string>notequal.glif</string>
  <key>ntilde</key>
  <string>ntilde.glif</string>
  <key>numbersign</key>
  <string>numbersign.glif</string>
  <key>o</key>
  <string>o.glif</string>
  <key>oacute</key>
  <string>oacute.glif</string>
  <key>ocircumflex</key>
  <string>ocircumflex.glif</string>
  <key>odieresis</key>
  <string>odieresis.glif</string>
  <key>oe</key>
  <string>oe.glif</string>
  <key>ograve</key>
  <string>ograve.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>ordfeminine</key>
  <string>ordfeminine.glif</string>
  <key>ordmasculine</key>
  <string>ordmasculine.glif</string>
  <key>oslash</key>
  <string>oslash.glif</string>
  <key>otilde</key>
  <string>otilde.glif</string>
  <key>p</key>
  <string>p.glif</string>
  <key>paragraph</key>
  <string>paragraph.glif</string>
  <key>parenleft</key>
  <string>parenleft.glif</string>
  <key>parenright</key>
  <string>parenright.glif</string>
  <key>partialdiff</key>
  <string>partialdiff.glif</string>
  <key>percent</key>
  <string>percent.glif</string>
  <key>period</key>
  <string>period.glif</string>
  <key>periodcentered</key>
  <string>periodcentered.glif</string>
  <key>perthousand</key>
  <string>perthousand.glif</string>
  <key>pi</key>
  <string>pi.glif</string>
  <key>plus</key>
  <string>plus.glif</string>
  <key>plusminus</key>
  <string>plusminus.glif</string>
  <key>product</key>
  <string>product.glif</string>
  <key>q</key>
  <string>q.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>questiondown</key>
  <string>questiondown.glif</string>
  <key>quotedbl</key>
  <string>quotedbl.glif</string>
  <key>quotedblbase</key>
  <string>quotedblbase.glif</string>
  <key>quotedblleft</key>
  <string>quotedblleft.glif</string>
  <key>quotedblright</key>
  <string>quotedblright.glif</string>
  <key>quoteleft</key>
  <string>quoteleft.glif</string>
  <key>quoteright</key>
  <string>quoteright.glif</string>
  <key>quotesinglbase</key>
  <string>quotesinglbase.glif</string>
  <key>quotesingle</key>
  <string>quotesingle.glif</string>
  <key>r</key>
  <string>r.glif</string>
  <key>radical</key>
  <string>radical.glif</string>
  <key>registered</key>
  <string>registered.glif</string>
  <key>s</key>
  <string>s.glif</string>
  <key>section</key>
  <string>section.glif</string>
  <key>semicolon</key>
  <string>semicolon.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>slash</key>
  <string>slash.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>sterling</key>
  <string>sterling.glif</string>
  <key>summation</key>
  <string>summation.glif</string>
  <key>t</key>
  <string>t.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>tilde</key>
  <string>tilde.glif</string>
  <key>trademark</key>
  <string>trademark.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>u</key>
  <string>u.glif</string>
  <key>uacute</key>
  <string>uacute.glif</string>
  <key>ucircumflex</key>
  <string>ucircumflex.glif</string>
  <key>udieresis</key>
  <string>udieresis.glif</string>
  <key>ugrave</key>
  <string>ugrave.glif</string>
  <key>underscore</key>
  <string>underscore.glif</string>
  <key>uni00A0</key>
  <string>uni00A_0.glif</string>
  <key>uni03A9</key>
  <string>uni03A_9.glif</string>
  <key>uni1200</key>
  <string>uni1200.glif</string>
  <key>uni1201</key>
  <string>uni1201.glif</string>
  <key>uni1202</key>
  <string>uni1202.glif</string>
  <key>uni1203</key>
  <string>uni1203.glif</string>
  <key>uni1204</key>
  <string>uni1204.glif</string>
  <key>uni1205</key>
  <string>uni1205.glif</string>
  <key>uni1206</key>
  <string>uni1206.glif</string>
  <key>uni1207</key>
  <string>uni1207.glif</string>
  <key>uni1208</key>
  <string>uni1208.glif</string>
  <key>uni1209</key>
  <string>uni1209.glif</string>
  <key>uni120A</key>
  <string>uni120A_.glif</string>
  <key>uni120B</key>
  <string>uni120B_.glif</string>
  <key>uni120C</key>
  <string>uni120C_.glif</string>
  <key>uni120D</key>
  <string>uni120D_.glif</string>
  <key>uni120E</key>
  <string>uni120E_.glif</string>
  <key>uni120F</key>
  <string>uni120F_.glif</string>
  <key>uni1210</key>
  <string>uni1210.glif</string>
  <key>uni1211</key>
  <string>uni1211.glif</string>
  <key>uni1212</key>
  <string>uni1212.glif</string>
  <key>uni1213</key>
  <string>uni1213.glif</string>
  <key>uni1214</key>
  <string>uni1214.glif</string>
  <key>uni1215</key>
  <string>uni1215.glif</string>
  <key>uni1216</key>
  <string>uni1216.glif</string>
  <key>uni1217</key>
  <string>uni1217.glif</string>
  <key>uni1218</key>
  <string>uni1218.glif</string>
  <key>uni1219</key>
  <string>uni1219.glif</string>
  <key>uni121A</key>
  <string>uni121A_.glif</string>
  <key>uni121B</key>
  <string>uni121B_.glif</string>
  <key>uni121C</key>
  <string>uni121C_.glif</string>
  <key>uni121D</key>
  <string>uni121D_.glif</string>
  <key>uni121E</key>
  <string>uni121E_.glif</string>
  <key>uni121F</key>
  <string>uni121F_.glif</string>
  <key>uni1220</key>
  <string>uni1220.glif</string>
  <key>uni1221</key>
  <string>uni1221.glif</string>
  <key>uni1222</key>
  <string>uni1222.glif</string>
  <key>uni1223</key>
  <string>uni1223.glif</string>
  <key>uni1224</key>
  <string>uni1224.glif</string>
  <key>uni1225</key>
  <string>uni1225.glif</string>
  <key>uni1226</key>
  <string>uni1226.glif</string>
  <key>uni1227</key>
  <string>uni1227.glif</string>
  <key>uni1228</key>
  <string>uni1228.glif</string>
  <key>uni1229</key>
  <string>uni1229.glif</string>
  <key>uni122A</key>
  <string>uni122A_.glif</string>
  <key>uni122B</key>
  <string>uni122B_.glif</string>
  <key>uni122C</key>
  <string>uni122C_.glif</string>
  <key>uni122D</key>
  <string>uni122D_.glif</string>
  <key>uni122E</key>
  <string>uni122E_.glif</string>
  <key>uni122F</key>
  <string>uni122F_.glif</string>
  <key>uni1230</key>
  <string>uni1230.glif</string>
  <key>uni1231</key>
  <string>uni1231.glif</string>
  <key>uni1232</key>
  <string>uni1232.glif</string>
  <key>uni1233</key>
  <string>uni1233.glif</string>
  <key>uni1234</key>
  <string>uni1234.glif</string>
  <key>uni1235</key>
  <string>uni1235.glif</string>
  <key>uni1236</key>
  <string>uni1236.glif</string>
  <key>uni1237</key>
  <string>uni1237.glif</string>
  <key>uni1238</key>
  <string>uni1238.glif</string>
  <key>uni1239</key>
  <string>uni1239.glif</string>
  <key>uni123A</key>
  <string>uni123A_.glif</string>
  <key>uni123B</key>
  <string>uni123B_.glif</string>
  <key>uni123C</key>
  <string>uni123C_.glif</string>
  <key>uni123D</key>
  <string>uni123D_.glif</string>
  <key>uni123E</key>
  <string>uni123E_.glif</string>
  <key>uni123F</key>
  <string>uni123F_.glif</string>
  <key>uni1240</key>
  <string>uni1240.glif</string>
  <key>uni1241</key>
  <string>uni1241.glif</string>
  <key>uni1242</key>
  <string>uni1242.glif</string>
  <key>uni1243</key>
  <string>uni1243.glif</string>
  <key>uni1244</key>
  <string>uni1244.glif</string>
  <key>uni1245</key>
  <string>uni1245.glif</string>
  <key>uni1246</key>
  <string>uni1246.glif</string>
  <key>uni1247</key>
  <string>uni1247.glif</string>
  <key>uni1248</key>
  <string>uni1248.glif</string>
  <key>uni124A</key>
  <string>uni124A_.glif</string>
  <key>uni124B</key>
  <string>uni124B_.glif</string>
  <key>uni124C</key>
  <string>uni124C_.glif</string>
  <key>uni124D</key>
  <string>uni124D_.glif</string>
  <key>uni1250</key>
  <string>uni1250.glif</string>
  <key>uni1251</key>
  <string>uni1251.glif</string>
  <key>uni1252</key>
  <string>uni1252.glif</string>
  <key>uni1253</key>
  <string>uni1253.glif</string>
  <key>uni1254</key>
  <string>uni1254.glif</string>
  <key>uni1255</key>
  <string>uni1255.glif</string>
  <key>uni1256</key>
  <string>uni1256.glif</string>
  <key>uni1258</key>
  <string>uni1258.glif</string>
  <key>uni125A</key>
  <string>uni125A_.glif</string>
  <key>uni125B</key>
  <string>uni125B_.glif</string>
  <key>uni125C</key>
  <string>uni125C_.glif</string>
  <key>uni125D</key>
  <string>uni125D_.glif</string>
  <key>uni1260</key>
  <string>uni1260.glif</string>
  <key>uni1261</key>
  <string>uni1261.glif</string>
  <key>uni1262</key>
  <string>uni1262.glif</string>
  <key>uni1263</key>
  <string>uni1263.glif</string>
  <key>uni1264</key>
  <string>uni1264.glif</string>
  <key>uni1265</key>
  <string>uni1265.glif</string>
  <key>uni1266</key>
  <string>uni1266.glif</string>
  <key>uni1267</key>
  <string>uni1267.glif</string>
  <key>uni1268</key>
  <string>uni1268.glif</string>
  <key>uni1269</key>
  <string>uni1269.glif</string>
  <key>uni126A</key>
  <string>uni126A_.glif</string>
  <key>uni126B</key>
  <string>uni126B_.glif</string>
  <key>uni126C</key>
  <string>uni126C_.glif</string>
  <key>uni126D</key>
  <string>uni126D_.glif</string>
  <key>uni126E</key>
  <string>uni126E_.glif</string>
  <key>uni126F</key>
  <string>uni126F_.glif</string>
  <key>uni1270</key>
  <string>uni1270.glif</string>
  <key>uni1271</key>
  <string>uni1271.glif</string>
  <key>uni1272</key>
  <string>uni1272.glif</string>
  <key>uni1273</key>
  <string>uni1273.glif</string>
  <key>uni1274</key>
  <string>uni1274.glif</string>
  <key>uni1275</key>
  <string>uni1275.glif</string>
  <key>uni1276</key>
  <string>uni1276.glif</string>
  <key>uni1277</key>
  <string>uni1277.glif</string>
  <key>uni1278</key>
  <string>uni1278.glif</string>
  <key>uni1279</key>
  <string>uni1279.glif</string>
  <key>uni127A</key>
  <string>uni127A_.glif</string>
  <key>uni127B</key>
  <string>uni127B_.glif</string>
  <key>uni127C</key>
  <string>uni127C_.glif</string>
  <key>uni127D</key>
  <string>uni127D_.glif</string>
  <key>uni127E</key>
  <string>uni127E_.glif</string>
  <key>uni127F</key>
  <string>uni127F_.glif</string>
  <key>uni1280</key>
  <string>uni1280.glif</string>
  <key>uni1281</key>
  <string>uni1281.glif</string>
  <key>uni1282</key>
  <string>uni1282.glif</string>
  <key>uni1283</key>
  <string>uni1283.glif</string>
  <key>uni1284</key>
  <string>uni1284.glif</string>
  <key>uni1285</key>
  <string>uni1285.glif</string>
  <key>uni1286</key>
  <string>uni1286.glif</string>
  <key>uni1287</key>
  <string>uni1287.glif</string>
  <key>uni1288</key>
  <string>uni1288.glif</string>
  <key>uni128A</key>
  <string>uni128A_.glif</string>
  <key>uni128B</key>
  <string>uni128B_.glif</string>
  <key>uni128C</key>
  <string>uni128C_.glif</string>
  <key>uni128D</key>
  <string>uni128D_.glif</string>
  <key>uni1290</key>
  <string>uni1290.glif</string>
  <key>uni1291</key>
  <string>uni1291.glif</string>
  <key>uni1292</key>
  <string>uni1292.glif</string>
  <key>uni1293</key>
  <string>uni1293.glif</string>
  <key>uni1294</key>
  <string>uni1294.glif</string>
  <key>uni1295</key>
  <string>uni1295.glif</string>
  <key>uni1296</key>
  <string>uni1296.glif</string>
  <key>uni1297</key>
  <string>uni1297.glif</string>
  <key>uni1298</key>
  <string>uni1298.glif</string>
  <key>uni1299</key>
  <string>uni1299.glif</string>
  <key>uni129A</key>
  <string>uni129A_.glif</string>
  <key>uni129B</key>
  <string>uni129B_.glif</string>
  <key>uni129C</key>
  <string>uni129C_.glif</string>
  <key>uni129D</key>
  <string>uni129D_.glif</string>
  <key>uni129E</key>
  <string>uni129E_.glif</string>
  <key>uni129F</key>
  <string>uni129F_.glif</string>
  <key>uni12A0</key>
  <string>uni12A_0.glif</string>
  <key>uni12A1</key>
  <string>uni12A_1.glif</string>
  <key>uni12A2</key>
  <string>uni12A_2.glif</string>
  <key>uni12A3</key>
  <string>uni12A_3.glif</string>
  <key>uni12A4</key>
  <string>uni12A_4.glif</string>
  <key>uni12A5</key>
  <string>uni12A_5.glif</string>
  <key>uni12A6</key>
  <string>uni12A_6.glif</string>
  <key>uni12A7</key>
  <string>uni12A_7.glif</string>
  <key>uni12A8</key>
  <string>uni12A_8.glif</string>
  <key>uni12A9</key>
  <string>uni12A_9.glif</string>
  <key>uni12AA</key>
  <string>uni12A_A_.glif</string>
  <key>uni12AB</key>
  <string>uni12A_B_.glif</string>
  <key>uni12AC</key>
  <string>uni12A_C_.glif</string>
  <key>uni12AD</key>
  <string>uni12A_D_.glif</string>
  <key>uni12AE</key>
  <string>uni12A_E_.glif</string>
  <key>uni12AF</key>
  <string>uni12A_F_.glif</string>
  <key>uni12B0</key>
  <string>uni12B_0.glif</string>
  <key>uni12B2</key>
  <string>uni12B_2.glif</string>
  <key>uni12B3</key>
  <string>uni12B_3.glif</string>
  <key>uni12B4</key>
  <string>uni12B_4.glif</string>
  <key>uni12B5</key>
  <string>uni12B_5.glif</string>
  <key>uni12B8</key>
  <string>uni12B_8.glif</string>
  <key>uni12B9</key>
  <string>uni12B_9.glif</string>
  <key>uni12BA</key>
  <string>uni12B_A_.glif</string>
  <key>uni12BB</key>
  <string>uni12B_B_.glif</string>
  <key>uni12BC</key>
  <string>uni12B_C_.glif</string>
  <key>uni12BD</key>
  <string>uni12B_D_.glif</string>
  <key>uni12BE</key>
  <string>uni12B_E_.glif</string>
  <key>uni12C0</key>
  <string>uni12C_0.glif</string>
  <key>uni12C2</key>
  <string>uni12C_2.glif</string>
  <key>uni12C3</key>
  <string>uni12C_3.glif</string>
  <key>uni12C4</key>
  <string>uni12C_4.glif</string>
  <key>uni12C5</key>
  <string>uni12C_5.glif</string>
  <key>uni12C8</key>
  <string>uni12C_8.glif</string>
  <key>uni12C9</key>
  <string>uni12C_9.glif</string>
  <key>uni12CA</key>
  <string>uni12C_A_.glif</string>
  <key>uni12CB</key>
  <string>uni12C_B_.glif</string>
  <key>uni12CC</key>
  <string>uni12C_C_.glif</string>
  <key>uni12CD</key>
  <string>uni12C_D_.glif</string>
  <key>uni12CE</key>
  <string>uni12C_E_.glif</string>
  <key>uni12CF</key>
  <string>uni12C_F_.glif</string>
  <key>uni12D0</key>
  <string>uni12D_0.glif</string>
  <key>uni12D1</key>
  <string>uni12D_1.glif</string>
  <key>uni12D2</key>
  <string>uni12D_2.glif</string>
  <key>uni12D3</key>
  <string>uni12D_3.glif</string>
  <key>uni12D4</key>
  <string>uni12D_4.glif</string>
  <key>uni12D5</key>
  <string>uni12D_5.glif</string>
  <key>uni12D6</key>
  <string>uni12D_6.glif</string>
  <key>uni12D8</key>
  <string>uni12D_8.glif</string>
  <key>uni12D9</key>
  <string>uni12D_9.glif</string>
  <key>uni12DA</key>
  <string>uni12D_A_.glif</string>
  <key>uni12DB</key>
  <string>uni12D_B_.glif</string>
  <key>uni12DC</key>
  <string>uni12D_C_.glif</string>
  <key>uni12DD</key>
  <string>uni12D_D_.glif</string>
  <key>uni12DE</key>
  <string>uni12D_E_.glif</string>
  <key>uni12DF</key>
  <string>uni12D_F_.glif</string>
  <key>uni12E0</key>
  <string>uni12E_0.glif</string>
  <key>uni12E1</key>
  <string>uni12E_1.glif</string>
  <key>uni12E2</key>
  <string>uni12E_2.glif</string>
  <key>uni12E3</key>
  <string>uni12E_3.glif</string>
  <key>uni12E4</key>
  <string>uni12E_4.glif</string>
  <key>uni12E5</key>
  <string>uni12E_5.glif</string>
  <key>uni12E6</key>
  <string>uni12E_6.glif</string>
  <key>uni12E7</key>
  <string>uni12E_7.glif</string>
  <key>uni12E8</key>
  <string>uni12E_8.glif</string>
  <key>uni12E9</key>
  <string>uni12E_9.glif</string>
  <key>uni12EA</key>
  <string>uni12E_A_.glif</string>
  <key>uni12EB</key>
  <string>uni12E_B_.glif</string>
  <key>uni12EC</key>
  <string>uni12E_C_.glif</string>
  <key>uni12ED</key>
  <string>uni12E_D_.glif</string>
  <key>uni12EE</key>
  <string>uni12E_E_.glif</string>
  <key>uni12EF</key>
  <string>uni12E_F_.glif</string>
  <key>uni12F0</key>
  <string>uni12F_0.glif</string>
  <key>uni12F1</key>
  <string>uni12F_1.glif</string>
  <key>uni12F2</key>
  <string>uni12F_2.glif</string>
  <key>uni12F3</key>
  <string>uni12F_3.glif</string>
  <key>uni12F4</key>
  <string>uni12F_4.glif</string>
  <key>uni12F5</key>
  <string>uni12F_5.glif</string>
  <key>uni12F6</key>
  <string>uni12F_6.glif</string>
  <key>uni12F7</key>
  <string>uni12F_7.glif</string>
  <key>uni12F8</key>
  <string>uni12F_8.glif</string>
  <key>uni12F9</key>
  <string>uni12F_9.glif</string>
  <key>uni12FA</key>
  <string>uni12F_A_.glif</string>
  <key>uni12FB</key>
  <string>uni12F_B_.glif</string>
  <key>uni12FC</key>
  <string>uni12F_C_.glif</string>
  <key>uni12FD</key>
  <string>uni12F_D_.glif</string>
  <key>uni12FE</key>
  <string>uni12F_E_.glif</string>
  <key>uni12FF</key>
  <string>uni12F_F_.glif</string>
  <key>uni1300</key>
  <string>uni1300.glif</string>
  <key>uni1301</key>
  <string>uni1301.glif</string>
  <key>uni1302</key>
  <string>uni1302.glif</string>
  <key>uni1303</key>
  <string>uni1303.glif</string>
  <key>uni1304</key>
  <string>uni1304.glif</string>
  <key>uni1305</key>
  <string>uni1305.glif</string>
  <key>uni1306</key>
  <string>uni1306.glif</string>
  <key>uni1307</key>
  <string>uni1307.glif</string>
  <key>uni1308</key>
  <string>uni1308.glif</string>
  <key>uni1309</key>
  <string>uni1309.glif</string>
  <key>uni130A</key>
  <string>uni130A_.glif</string>
  <key>uni130B</key>
  <string>uni130B_.glif</string>
  <key>uni130C</key>
  <string>uni130C_.glif</string>
  <key>uni130D</key>
  <string>uni130D_.glif</string>
  <key>uni130E</key>
  <string>uni130E_.glif</string>
  <key>uni130F</key>
  <string>uni130F_.glif</string>
  <key>uni1310</key>
  <string>uni1310.glif</string>
  <key>uni1312</key>
  <string>uni1312.glif</string>
  <key>uni1313</key>
  <string>uni1313.glif</string>
  <key>uni1314</key>
  <string>uni1314.glif</string>
  <key>uni1315</key>
  <string>uni1315.glif</string>
  <key>uni1318</key>
  <string>uni1318.glif</string>
  <key>uni1319</key>
  <string>uni1319.glif</string>
  <key>uni131A</key>
  <string>uni131A_.glif</string>
  <key>uni131B</key>
  <string>uni131B_.glif</string>
  <key>uni131C</key>
  <string>uni131C_.glif</string>
  <key>uni131D</key>
  <string>uni131D_.glif</string>
  <key>uni131E</key>
  <string>uni131E_.glif</string>
  <key>uni131F</key>
  <string>uni131F_.glif</string>
  <key>uni1320</key>
  <string>uni1320.glif</string>
  <key>uni1321</key>
  <string>uni1321.glif</string>
  <key>uni1322</key>
  <string>uni1322.glif</string>
  <key>uni1323</key>
  <string>uni1323.glif</string>
  <key>uni1324</key>
  <string>uni1324.glif</string>
  <key>uni1325</key>
  <string>uni1325.glif</string>
  <key>uni1326</key>
  <string>uni1326.glif</string>
  <key>uni1327</key>
  <string>uni1327.glif</string>
  <key>uni1328</key>
  <string>uni1328.glif</string>
  <key>uni1329</key>
  <string>uni1329.glif</string>
  <key>uni132A</key>
  <string>uni132A_.glif</string>
  <key>uni132B</key>
  <string>uni132B_.glif</string>
  <key>uni132C</key>
  <string>uni132C_.glif</string>
  <key>uni132D</key>
  <string>uni132D_.glif</string>
  <key>uni132E</key>
  <string>uni132E_.glif</string>
  <key>uni132F</key>
  <string>uni132F_.glif</string>
  <key>uni1330</key>
  <string>uni1330.glif</string>
  <key>uni1331</key>
  <string>uni1331.glif</string>
  <key>uni1332</key>
  <string>uni1332.glif</string>
  <key>uni1333</key>
  <string>uni1333.glif</string>
  <key>uni1334</key>
  <string>uni1334.glif</string>
  <key>uni1335</key>
  <string>uni1335.glif</string>
  <key>uni1336</key>
  <string>uni1336.glif</string>
  <key>uni1337</key>
  <string>uni1337.glif</string>
  <key>uni1338</key>
  <string>uni1338.glif</string>
  <key>uni1339</key>
  <string>uni1339.glif</string>
  <key>uni133A</key>
  <string>uni133A_.glif</string>
  <key>uni133B</key>
  <string>uni133B_.glif</string>
  <key>uni133C</key>
  <string>uni133C_.glif</string>
  <key>uni133D</key>
  <string>uni133D_.glif</string>
  <key>uni133E</key>
  <string>uni133E_.glif</string>
  <key>uni133F</key>
  <string>uni133F_.glif</string>
  <key>uni1340</key>
  <string>uni1340.glif</string>
  <key>uni1341</key>
  <string>uni1341.glif</string>
  <key>uni1342</key>
  <string>uni1342.glif</string>
  <key>uni1343</key>
  <string>uni1343.glif</string>
  <key>uni1344</key>
  <string>uni1344.glif</string>
  <key>uni1345</key>
  <string>uni1345.glif</string>
  <key>uni1346</key>
  <string>uni1346.glif</string>
  <key>uni1347</key>
  <string>uni1347.glif</string>
  <key>uni1348</key>
  <string>uni1348.glif</string>
  <key>uni1349</key>
  <string>uni1349.glif</string>
  <key>uni134A</key>
  <string>uni134A_.glif</string>
  <key>uni134B</key>
  <string>uni134B_.glif</string>
  <key>uni134C</key>
  <string>uni134C_.glif</string>
  <key>uni134D</key>
  <string>uni134D_.glif</string>
  <key>uni134E</key>
  <string>uni134E_.glif</string>
  <key>uni134F</key>
  <string>uni134F_.glif</string>
  <key>uni1350</key>
  <string>uni1350.glif</string>
  <key>uni1351</key>
  <string>uni1351.glif</string>
  <key>uni1352</key>
  <string>uni1352.glif</string>
  <key>uni1353</key>
  <string>uni1353.glif</string>
  <key>uni1354</key>
  <string>uni1354.glif</string>
  <key>uni1355</key>
  <string>uni1355.glif</string>
  <key>uni1356</key>
  <string>uni1356.glif</string>
  <key>uni1357</key>
  <string>uni1357.glif</string>
  <key>uni1361</key>
  <string>uni1361.glif</string>
  <key>uni1362</key>
  <string>uni1362.glif</string>
  <key>uni1363</key>
  <string>uni1363.glif</string>
  <key>uni1364</key>
  <string>uni1364.glif</string>
  <key>uni1365</key>
  <string>uni1365.glif</string>
  <key>uni1366</key>
  <string>uni1366.glif</string>
  <key>uni1367</key>
  <string>uni1367.glif</string>
  <key>uniE200</key>
  <string>uniE_200.glif</string>
  <key>uniE202</key>
  <string>uniE_202.glif</string>
  <key>uniE203</key>
  <string>uniE_203.glif</string>
  <key>uniE204</key>
  <string>uniE_204.glif</string>
  <key>uniE205</key>
  <string>uniE_205.glif</string>
  <key>uniE318</key>
  <string>uniE_318.glif</string>
  <key>uniE319</key>
  <string>uniE_319.glif</string>
  <key>uniE31A</key>
  <string>uniE_31A_.glif</string>
  <key>uniE31B</key>
  <string>uniE_31B_.glif</string>
  <key>uniE31C</key>
  <string>uniE_31C_.glif</string>
  <key>uniE31D</key>
  <string>uniE_31D_.glif</string>
  <key>uniE31E</key>
  <string>uniE_31E_.glif</string>
  <key>uniE31F</key>
  <string>uniE_31F_.glif</string>
  <key>v</key>
  <string>v.glif</string>
  <key>w</key>
  <string>w.glif</string>
  <key>x</key>
  <string>x.glif</string>
  <key>y</key>
  <string>y.glif</string>
  <key>ydieresis</key>
  <string>ydieresis.glif</string>
  <key>yen</key>
  <string>yen.glif</string>
  <key>z</key>
  <string>z.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
</dict>
</plist>
